-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "user_role" AS ENUM ('ADMIN', 'EDITOR', 'VIEWER');

-- CreateEnum
CREATE TYPE "user_status" AS ENUM ('ACTIVE', 'DISABLED');

-- CreateEnum
CREATE TYPE "phone_status" AS ENUM ('ACTIVE', 'INACTIVE', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "account_status" AS ENUM ('ACTIVE', 'INACTIVE', 'LOGIN_ISSUE', 'SUSPENDED', 'UNKNOWN');

-- CreateEnum
CREATE TYPE "recovery_method_type" AS ENUM ('EMAIL', 'PHONE');

-- CreateEnum
CREATE TYPE "relationship_type" AS ENUM ('GENERAL', 'LOGIN', 'RECOVERY');

-- CreateEnum
CREATE TYPE "device_status" AS ENUM ('ONLINE', 'OFFLINE', 'UNKNOWN', 'DISABLED');

-- CreateEnum
CREATE TYPE "whatsapp_session_status" AS ENUM ('SETUP_REQUIRED', 'LINKING', 'LINKED', 'RELOGIN_REQUIRED', 'DISABLED', 'ERROR', 'UNKNOWN');

-- CreateEnum
CREATE TYPE "device_approval_state" AS ENUM ('PENDING', 'APPROVED', 'REVOKED');

-- CreateEnum
CREATE TYPE "device_platform_session_state" AS ENUM ('SETUP_IN_PROGRESS', 'USER_CONFIRMED_ON_DEVICE', 'UNKNOWN', 'RELOGIN_REQUIRED', 'DISABLED');

-- CreateEnum
CREATE TYPE "launch_operation" AS ENUM ('SETUP', 'OPEN', 'RECONNECT');

-- CreateTable
CREATE TABLE "app_users" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "full_name" VARCHAR(120) NOT NULL,
    "email" CITEXT NOT NULL,
    "password_hash" TEXT,
    "role" "user_role" NOT NULL DEFAULT 'VIEWER',
    "status" "user_status" NOT NULL DEFAULT 'ACTIVE',
    "last_login_at" TIMESTAMPTZ(6),
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "version" INTEGER NOT NULL DEFAULT 1,
    "failed_login_attempts" INTEGER NOT NULL DEFAULT 0,
    "locked_until" TIMESTAMPTZ(6),
    "refresh_token_hash" TEXT,
    "refresh_token_expires_at" TIMESTAMPTZ(6),

    CONSTRAINT "app_users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "phone_numbers" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "e164_number" VARCHAR(20) NOT NULL,
    "country_code" VARCHAR(5) NOT NULL,
    "national_number" VARCHAR(20) NOT NULL,
    "sim_provider" VARCHAR(80),
    "label" VARCHAR(120),
    "status" "phone_status" NOT NULL DEFAULT 'ACTIVE',
    "notes" TEXT,
    "created_by" UUID NOT NULL,
    "updated_by" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "archived_at" TIMESTAMPTZ(6),
    "version" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "phone_numbers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "platforms" (
    "id" SERIAL NOT NULL,
    "slug" VARCHAR(40) NOT NULL,
    "display_name" VARCHAR(80) NOT NULL,
    "icon_key" VARCHAR(80),
    "is_active" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "platforms_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "platform_accounts" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "platform_id" INTEGER NOT NULL,
    "display_name" VARCHAR(160),
    "account_handle" VARCHAR(160),
    "login_identifier" CITEXT,
    "profile_url" TEXT,
    "external_account_id" VARCHAR(160),
    "account_status" "account_status" NOT NULL DEFAULT 'UNKNOWN',
    "notes" TEXT,
    "created_by" UUID NOT NULL,
    "updated_by" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "archived_at" TIMESTAMPTZ(6),
    "version" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "platform_accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "phone_account_links" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "phone_number_id" UUID NOT NULL,
    "platform_account_id" UUID NOT NULL,
    "relationship_type" "relationship_type" NOT NULL DEFAULT 'GENERAL',
    "is_primary" BOOLEAN NOT NULL DEFAULT false,
    "linked_by" UUID NOT NULL,
    "linked_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "phone_account_links_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "account_credentials" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "platform_account_id" UUID NOT NULL,
    "password_ciphertext" TEXT NOT NULL,
    "nonce" TEXT NOT NULL,
    "auth_tag" TEXT,
    "key_version" INTEGER NOT NULL,
    "secret_updated_by" UUID NOT NULL,
    "secret_updated_at" TIMESTAMPTZ(6) NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "account_credentials_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "account_recovery_methods" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "platform_account_id" UUID NOT NULL,
    "method_type" "recovery_method_type" NOT NULL,
    "value_normalized" TEXT NOT NULL,
    "is_primary" BOOLEAN NOT NULL DEFAULT false,
    "created_by" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "account_recovery_methods_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "actor_user_id" UUID,
    "action" TEXT NOT NULL,
    "entity_type" VARCHAR(40) NOT NULL,
    "entity_id" UUID,
    "metadata" JSONB NOT NULL DEFAULT '{}',
    "ip_address" INET,
    "user_agent" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "registered_devices" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "device_code" VARCHAR(20) NOT NULL,
    "friendly_name" VARCHAR(120) NOT NULL,
    "hostname" VARCHAR(255),
    "status" "device_status" NOT NULL DEFAULT 'UNKNOWN',
    "launcher_version" VARCHAR(40),
    "launcher_api_key_hash" TEXT,
    "last_seen_at" TIMESTAMPTZ(6),
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "created_by" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "version" INTEGER NOT NULL DEFAULT 1,
    "approval_state" "device_approval_state" NOT NULL DEFAULT 'PENDING',
    "supports_platform_launcher" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "registered_devices_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "whatsapp_sessions" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "session_code" VARCHAR(20) NOT NULL,
    "phone_number_id" UUID NOT NULL,
    "device_id" UUID NOT NULL,
    "status" "whatsapp_session_status" NOT NULL DEFAULT 'SETUP_REQUIRED',
    "session_directory" VARCHAR(500) NOT NULL,
    "linked_at" TIMESTAMPTZ(6),
    "last_opened_at" TIMESTAMPTZ(6),
    "last_error" TEXT,
    "created_by" UUID NOT NULL,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "version" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "whatsapp_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "whatsapp_audit_logs" (
    "id" UUID NOT NULL DEFAULT uuid_generate_v4(),
    "whatsapp_session_id" UUID,
    "device_id" UUID,
    "action" VARCHAR(40) NOT NULL,
    "actor_user_id" UUID,
    "metadata" JSONB NOT NULL DEFAULT '{}',
    "ip_address" INET,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "version" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "whatsapp_audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "device_platform_sessions" (
    "id" TEXT NOT NULL,
    "device_id" TEXT NOT NULL,
    "platform_account_id" TEXT NOT NULL,
    "profile_key" VARCHAR(32) NOT NULL,
    "state" "device_platform_session_state" NOT NULL DEFAULT 'UNKNOWN',
    "version" INTEGER NOT NULL DEFAULT 1,
    "confirmed_at" TIMESTAMP(3),
    "confirmed_by_user_id" TEXT,
    "confirmed_identifier" VARCHAR(160),
    "last_launch_requested_at" TIMESTAMP(3),
    "last_launch_result" VARCHAR(80),
    "disabled_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "device_platform_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "launch_grants" (
    "id" TEXT NOT NULL,
    "secret_hash" VARCHAR(128) NOT NULL,
    "actor_user_id" TEXT NOT NULL,
    "auth_session_hash" VARCHAR(128) NOT NULL,
    "user_version" INTEGER NOT NULL,
    "device_id" TEXT NOT NULL,
    "phone_number_id" TEXT NOT NULL,
    "platform_account_id" TEXT NOT NULL,
    "operation" "launch_operation" NOT NULL,
    "expires_at" TIMESTAMP(3) NOT NULL,
    "consumed_at" TIMESTAMP(3),
    "revoked_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "launch_grants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "launch_tickets" (
    "id" TEXT NOT NULL,
    "nonce_hash" VARCHAR(128) NOT NULL,
    "grant_id" TEXT NOT NULL,
    "device_id" TEXT NOT NULL,
    "device_platform_session_id" TEXT NOT NULL,
    "operation" "launch_operation" NOT NULL,
    "mapping_version" INTEGER NOT NULL,
    "expires_at" TIMESTAMP(3) NOT NULL,
    "used_at" TIMESTAMP(3),
    "revoked_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "launch_tickets_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "app_users_email_key" ON "app_users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "phone_numbers_e164_number_key" ON "phone_numbers"("e164_number");

-- CreateIndex
CREATE INDEX "idx_phone_numbers_status" ON "phone_numbers"("status");

-- CreateIndex
CREATE UNIQUE INDEX "platforms_slug_key" ON "platforms"("slug");

-- CreateIndex
CREATE INDEX "idx_platform_accounts_platform_status" ON "platform_accounts"("platform_id", "account_status");

-- CreateIndex
CREATE INDEX "idx_platform_accounts_login_identifier" ON "platform_accounts"("login_identifier");

-- CreateIndex
CREATE INDEX "idx_phone_account_links_account" ON "phone_account_links"("platform_account_id");

-- CreateIndex
CREATE INDEX "idx_phone_account_links_phone" ON "phone_account_links"("phone_number_id");

-- CreateIndex
CREATE UNIQUE INDEX "phone_account_links_phone_number_id_platform_account_id_rel_key" ON "phone_account_links"("phone_number_id", "platform_account_id", "relationship_type");

-- CreateIndex
CREATE UNIQUE INDEX "account_credentials_platform_account_id_key" ON "account_credentials"("platform_account_id");

-- CreateIndex
CREATE INDEX "idx_recovery_methods_account" ON "account_recovery_methods"("platform_account_id");

-- CreateIndex
CREATE UNIQUE INDEX "account_recovery_methods_platform_account_id_method_type_key" ON "account_recovery_methods"("platform_account_id", "method_type");

-- CreateIndex
CREATE INDEX "idx_audit_logs_created_at" ON "audit_logs"("created_at");

-- CreateIndex
CREATE INDEX "idx_audit_logs_actor" ON "audit_logs"("actor_user_id", "created_at");

-- CreateIndex
CREATE INDEX "idx_audit_logs_entity" ON "audit_logs"("entity_type", "entity_id", "created_at");

-- CreateIndex
CREATE UNIQUE INDEX "registered_devices_device_code_key" ON "registered_devices"("device_code");

-- CreateIndex
CREATE INDEX "registered_devices_approval_state_idx" ON "registered_devices"("approval_state");

-- CreateIndex
CREATE UNIQUE INDEX "whatsapp_sessions_session_code_key" ON "whatsapp_sessions"("session_code");

-- CreateIndex
CREATE UNIQUE INDEX "whatsapp_sessions_phone_number_id_key" ON "whatsapp_sessions"("phone_number_id");

-- CreateIndex
CREATE INDEX "idx_wa_audit_logs_created_at" ON "whatsapp_audit_logs"("created_at");

-- CreateIndex
CREATE INDEX "idx_wa_audit_logs_action" ON "whatsapp_audit_logs"("action");

-- CreateIndex
CREATE UNIQUE INDEX "device_platform_sessions_profile_key_key" ON "device_platform_sessions"("profile_key");

-- CreateIndex
CREATE INDEX "device_platform_sessions_device_id_idx" ON "device_platform_sessions"("device_id");

-- CreateIndex
CREATE INDEX "device_platform_sessions_platform_account_id_idx" ON "device_platform_sessions"("platform_account_id");

-- CreateIndex
CREATE INDEX "device_platform_sessions_state_idx" ON "device_platform_sessions"("state");

-- CreateIndex
CREATE UNIQUE INDEX "device_platform_sessions_device_id_platform_account_id_key" ON "device_platform_sessions"("device_id", "platform_account_id");

-- CreateIndex
CREATE UNIQUE INDEX "launch_grants_secret_hash_key" ON "launch_grants"("secret_hash");

-- CreateIndex
CREATE INDEX "launch_grants_actor_user_id_idx" ON "launch_grants"("actor_user_id");

-- CreateIndex
CREATE INDEX "launch_grants_device_id_idx" ON "launch_grants"("device_id");

-- CreateIndex
CREATE INDEX "launch_grants_expires_at_idx" ON "launch_grants"("expires_at");

-- CreateIndex
CREATE INDEX "launch_grants_phone_number_id_idx" ON "launch_grants"("phone_number_id");

-- CreateIndex
CREATE INDEX "launch_grants_platform_account_id_idx" ON "launch_grants"("platform_account_id");

-- CreateIndex
CREATE UNIQUE INDEX "launch_tickets_nonce_hash_key" ON "launch_tickets"("nonce_hash");

-- CreateIndex
CREATE INDEX "launch_tickets_device_id_idx" ON "launch_tickets"("device_id");

-- CreateIndex
CREATE INDEX "launch_tickets_device_platform_session_id_idx" ON "launch_tickets"("device_platform_session_id");

-- CreateIndex
CREATE INDEX "launch_tickets_expires_at_idx" ON "launch_tickets"("expires_at");

-- CreateIndex
CREATE INDEX "launch_tickets_grant_id_idx" ON "launch_tickets"("grant_id");

-- AddForeignKey
ALTER TABLE "phone_numbers" ADD CONSTRAINT "phone_numbers_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "app_users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "phone_numbers" ADD CONSTRAINT "phone_numbers_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "app_users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "platform_accounts" ADD CONSTRAINT "platform_accounts_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "app_users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "platform_accounts" ADD CONSTRAINT "platform_accounts_platform_id_fkey" FOREIGN KEY ("platform_id") REFERENCES "platforms"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "platform_accounts" ADD CONSTRAINT "platform_accounts_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "app_users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "phone_account_links" ADD CONSTRAINT "phone_account_links_linked_by_fkey" FOREIGN KEY ("linked_by") REFERENCES "app_users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "phone_account_links" ADD CONSTRAINT "phone_account_links_phone_number_id_fkey" FOREIGN KEY ("phone_number_id") REFERENCES "phone_numbers"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "phone_account_links" ADD CONSTRAINT "phone_account_links_platform_account_id_fkey" FOREIGN KEY ("platform_account_id") REFERENCES "platform_accounts"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "account_credentials" ADD CONSTRAINT "account_credentials_platform_account_id_fkey" FOREIGN KEY ("platform_account_id") REFERENCES "platform_accounts"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "account_credentials" ADD CONSTRAINT "account_credentials_secret_updated_by_fkey" FOREIGN KEY ("secret_updated_by") REFERENCES "app_users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "account_recovery_methods" ADD CONSTRAINT "account_recovery_methods_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "app_users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "account_recovery_methods" ADD CONSTRAINT "account_recovery_methods_platform_account_id_fkey" FOREIGN KEY ("platform_account_id") REFERENCES "platform_accounts"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "audit_logs" ADD CONSTRAINT "audit_logs_actor_user_id_fkey" FOREIGN KEY ("actor_user_id") REFERENCES "app_users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "registered_devices" ADD CONSTRAINT "registered_devices_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "app_users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "whatsapp_sessions" ADD CONSTRAINT "whatsapp_sessions_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "app_users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "whatsapp_sessions" ADD CONSTRAINT "whatsapp_sessions_device_id_fkey" FOREIGN KEY ("device_id") REFERENCES "registered_devices"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "whatsapp_sessions" ADD CONSTRAINT "whatsapp_sessions_phone_number_id_fkey" FOREIGN KEY ("phone_number_id") REFERENCES "phone_numbers"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "whatsapp_audit_logs" ADD CONSTRAINT "whatsapp_audit_logs_actor_user_id_fkey" FOREIGN KEY ("actor_user_id") REFERENCES "app_users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "whatsapp_audit_logs" ADD CONSTRAINT "whatsapp_audit_logs_device_id_fkey" FOREIGN KEY ("device_id") REFERENCES "registered_devices"("id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "whatsapp_audit_logs" ADD CONSTRAINT "whatsapp_audit_logs_whatsapp_session_id_fkey" FOREIGN KEY ("whatsapp_session_id") REFERENCES "whatsapp_sessions"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

